<div class="divTable t">
    <div class="divTableBody">
        <div class="divTablerow" style="font-size: 10px;">
            <div class="col-xs-3" style="padding: 0px 1px;"><strong>Total Quantity:</strong></div>
            <div class="col-xs-9 text-right" style="padding: 0px 1px;">{{ doc.get_formatted('total_qty') }}</div>
        </div>
        <div class="divTablerow" style="font-size: 10px;">
            <div class="col-xs-3" style="padding: 0px 1px;"><strong>Total Amount:</strong> </strong></div>
            <div class="col-xs-9  text-right" style="padding: 0px 1px;">{{ doc.get_formatted('base_total') }}</div>
        </div>
        {% if doc.get_formatted('additional_discount_percentage') > '0' %}
        <div class="divTablerow" style="font-size: 10px;">
            <div class="col-xs-3" style="padding: 0px 1px;">
                <strong>Dis.({{doc.get_formatted('apply_discount_on')}} {{doc.get_formatted('additional_discount_percentage')}}%)</strong>
            </div>
            <div class="col-xs-9 text-right" style="padding: 0px 1px;">{{ doc.get_formatted('discount_amount') }}</div>
        </div>
        {%endif%}
        <div class="divTablerow" style="font-size: 10px;">
            <div class="col-xs-3" style="padding: 0px 1px;"><strong>Grand Total:</strong> </strong></div>
            {% if doc.get_formatted('rounded_total') > '0' %}
            <div class="col-xs-9 text-right" style="padding: 0px 1px;">{{ doc.get_formatted('grand_total') }}</div>
            {%else%}
            <div class="col-xs-9 bglight text-right" style="padding: 0px 1px;">{{ doc.get_formatted('grand_total') }}</div>
            {%endif%}
        </div>
        {% if doc.get_formatted('rounded_total') > '0' %}
        <div class="divTablerow" style="font-size: 10px;">
            <div class="col-xs-3" style="padding: 0px 1px;"><strong>Rounded Total:</strong> </strong></div>
            <div class="col-xs-9 bglight text-right" style="padding: 0px 1px;">{{ doc.get_formatted('rounded_total') }}</div>
        </div>
        {%endif%}
        <div class="divTablerow" style="font-size: 10px;">
            <div class="col-xs-3" style="padding: 0px 1px;"><strong>In Words:</strong> </strong></div>
            <div class="col-xs-9  text-right" style="padding: 0px 1px;">{{ doc.get_formatted('in_words') }}</div>
        </div>
    </div>
</div>
