<div class="divTable t " >
    <div class="divTableBody">
        <div class="divTableRow" >
            <div class="divTableCell col-xs-6 text-left" style="font-size: 12px;"><small><strong>Print Date & Time: {{frappe.utils.formatdate(frappe.utils.nowdate(),"dd.MM.yyyy")}} &
                {{frappe.utils.get_datetime(frappe.utils.now_datetime()).strftime('%H:%M:%S')}}</strong></small></div>
            <div class="divTableCell col-xs-6 text-right" style="font-size: 12px;"><strong>Original Copy</strong></div>
        </div>
    </div>
</div>
