{%- from "mkub/templates/includes/pk_macro.html" import add_header, render_field with context -%}
{%set style         = "mkub/templates/print_style/style.css" %}
{%set head          = "mkub/templates/includes/head.html" %}
{%set watermark     = "mkub/templates/includes/watermark.html" %}
{%set address       = "mkub/templates/includes/address.html" %}
{%set item          = "mkub/templates/includes/item.html" %}
{%set note          = "mkub/templates/includes/note.html" %}
{%set calculation   = "mkub/templates/includes/calculation.html" %}
{%set myfooter      = "mkub/templates/includes/myfooter.html" %}

<style> {%- include style -%} </style> 
<small> Print Date & Time({{ frappe.utils.now() }})</small>
<div class="top line" ><strong>{{doc.company}}</strong></div>  
{% for page in layout %}
<div class="page-break">
	<div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
		{{ add_header(loop.index, layout|len, doc,  no_letterhead, footer, print_settings,  ) }}
	</div>

	{% if print_settings.repeat_header_footer %}
	<div id="footer-html" class="visible-pdf">
		{% if not no_letterhead and footer %}
		<div class="letter-head-footer">
			{{ footer }}
		</div>
		{% endif %}
		<p class="text-center small page-number visible-pdf">
			{{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
		</p>
	</div>
	{% endif %}
 
    {% for section in page %}
	<div class="row" data-label="{{ section.label or '' | e }}">
		{%- if doc.print_line_breaks and loop.index != 1 -%}<hr>{%- endif -%}
		{%- if doc.print_section_headings and section.label and section.has_data -%}
		<div class='col-sm-12'>{{ _(section.label) }}</div>
		{%- endif -%}
		{%- set no_of_cols = section.columns|len -%}
        {% for column in section.columns %}
            <div class="col-xs-{{ (12 / no_of_cols)|int }} column-break"> 
            {% for df in column.fields %}
            {{ render_field(df, doc, no_of_cols) }}
            {% endfor %}
            </div>
        {% endfor %}
	</div>
	{% endfor %}
</div>
{% endfor %}

{% for page in layout %}
 top
    {% for section in page %}
        {%- set no_of_cols = section.columns|len -%}
        {% for column in section.columns %}
            <div class="col-xs-{{ (12 / no_of_cols)|int }} column-break"> 
            {% for df in column.fields %}
            {{ render_field(df, doc, no_of_cols) }}
            {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
sample bottom
{% endfor %}     

