{% set docdetail = "mkub/templates/includes/document_detail.html" %}
{% set address = frappe.get_list(
'Address',
filters={
'is_your_company_address': '1',
'is_letterhead_address': '1',
'link_name': doc.company
},
fields=[
'idx',
'address_title',
'address_line1',
'address_line2',
'city',
'country',
'state',
'pincode',
'email_id',
'phone',
'gstin',
],
)
%}
<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow line">
            <div class="divTableCell r-line logo" style="width:20%">
                {% set ans = frappe.db.get_value('Letter Head','logo','image') %}
                <img class="logo" alt="Sample Latter Head" src="{{ans}}">
            </div>
            <div class="divTableCell  r-line" style="width:40%;">
                <div class="divTable t">
                    <!--  Document Name         -->
                    <div class="divTableBody">
                        {% for address in address %}
                        {% if(address.lnik_name == doc.company ) %}{%endif%}
                        <div class="divTableRow">
                            <div class="divTableCell col-xs-12 c-text" style="font-size: 12px; padding:0px;">
                                <strong>{{doc.company}}</strong>
                            </div>
                        </div>
                        <div class="divTableRow">
                            <div class="col-xs-12" style="font-size: 9px; padding: 0px 5px;">{{address.address_line1 or ''}}, {{address.address_line2 or ''}}</div>
                        </div>
                        <div class="divTableRow">
                            <div class="col-xs-12" style="font-size: 9px; padding:0px 5px;">{{address.city or ''}}, {{ address.state or ''}}-{{ address.pincode or '' }}, {{address.country or ''}}</div>
                        </div>
                        <div class="divTableRow">
                            {% set f_email = frappe.db.get_single_value('Print Setting', 'b_purchase_email') %}
                            {% set f_phone = frappe.db.get_single_value('Print Setting', 'b_purchase_phone') %}
                            <div class="col-xs-12" style="font-size: 9px; padding:0px 5px;"><b>Email:</b>{{f_email or ''}} <b>Phone:</b>{{f_phone or ''}}</div>
                        </div>
                        <div class="divTableRow">
                            <div class="col-xs-12" style="font-size: 9px; padding:0px 5px;"><b>GSTIN:</b>{{address.gstin or ''}}</div>
                        </div>
                        {% endfor %}
                        {% set fix_note = frappe.db.get_single_value('Print Setting', 'pan_no') %}
                        {%if fix_note == ""%}
                        {%else%}
                        <div class="divTableRow">
                            <div class="col-xs-12" style="font-size: 9px;padding:0px 5px;"><b>PAN: </b>{{fix_note or ''}}</div>
                        </div> 
                        {% set fix_note = ""%}
                        {%endif%}
                        {% set fix_note = frappe.db.get_single_value('Print Setting', 'license_details') %}
                        {%if fix_note == ""%}
                        {%else%}
                        <div class="divTableRow">
                            <div class="col-xs-12" style="font-size: 9px;padding:0px 5px;">{{fix_note or ''}}</div>
                        </div>{% set fix_note = ""%}
                        {%endif%}
                        {% set fix_note = frappe.db.get_single_value('Print Setting', 'cin_no') %}
                        {%if fix_note == ""%}
                        {%else%}
                        <div class="divTableRow">
                            <div class="col-xs-12" style="font-size: 9px;padding:0px 5px;"><b>CIN: </b>{{fix_note or ''}}</div>
                        </div>{% set fix_note = ""%}
                        {%endif%}
                        {% set fix_note = frappe.db.get_single_value('Print Setting', 'website') %}
                        {%if fix_note == ""%}
                        {%else%}
                        <div class="divTableRow">
                            <div class="col-xs-12" style="font-size: 9px;padding:0px 5px;"><b>WEB-Site: </b>{{fix_note or ''}}</div>
                        </div>
                        {% set fix_note = ""%}
                        {%endif%}{% set docdetail = "mkub/templates/includes/document_detail.html" %}
                    </div>
                </div>
            </div>
                
            {% if doc.doctype =='Sales Invoice' and doc.einvoice_status == "Generated" %}
            <div class="divTableCell myqr" style="width:25%;">
                {% set einv = frappe.get_doc("e-Invoice Log",doc.irn)%}    
                {% set eway = frappe.get_doc("e-Waybill Log",doc.ewaybill) %} 
                <img src="data:image/png;base64,{{ get_qr_code(einv.signed_qr_code, scale=1) }}"  >
            </div>
         {% else %}
            <div class="divTableCell" style="width:40%;">
                {%- include docdetail-%}
            </div>     
        {% endif %}
        
        </div>
    </div>
</div>