<div class="col-xs-4" style="padding: 0px 1px;"><strong>Mode of Payment:</strong></div>
<div class="col-xs-6 text-left" style="padding: 0px 1px;">{{ doc.get_formatted('mode_of_payment') }}</div>
<div class="col-xs-4" style="padding: 0px 1px;"><strong>Pay To / Recd From:</strong></div>
<div class="col-xs-6 text-left" style="padding: 0px 1px;">{{ doc.get_formatted('pay_to_recd_from') }}</div>
<div class="col-xs-12" style="padding: 0px 1px;"><strong>Remark:</strong></div>
<div class="col-xs-12 text-left" style="padding: 0px 1px;">{{ doc.get_formatted('remark') }}</div>
